.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}
.header .mode{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
@media (min-width: 992px) {
    .header{
        padding: 20px 50px;
    }
}